---
import { CheckArrowIcon } from "@/assets/icons/CheckArrowIcon";
import { Image } from "astro:assets";

import internationalLeftHandersDay from "../../assets/images/typinks/International-Left-Handers-Day.png";
import vesuviusDay from "../../assets/images/typinks/Vesuvius-Day.png";
import worldFolkloreDay from "../../assets/images/typinks/World-Folklore-Day.png";
import worldPhotographyDay from "../../assets/images/typinks/World-Photography-Day.png";
---

<section
  class="w-full bg-bgDark2 pt-24 -mt-8 mb-8 sm:-mt-8 sm:mb-24 xl:-mt-8 2xl:mt-0 md:pt-[12vw] lg:pt-16"
  id="typinks"
>
  <div
    class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto md:pl-4 xl:pr-16 xl:pl-16"
  >
    <div class="w-full lg:w-1/2 mb-12 lg:mb-0">
      <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-unset">
        <span class="block-subtitle">Image Generator</span>
        <h2 class="mt-6 mb-8 text-4xl lg:text-5xl block-big-title">
          Generate image with text and icons easily
        </h2>
        <p class="mb-10 text-secondaryText leading-loose">
          Custom set poster generator for typinks. Created using HTML canvas API
          in reactJS.
        </p>
        <ul class="mb-6 text-primaryText">
          <li class="mb-4 flex">
            <CheckArrowIcon />
            <span>Real-time image visualization</span>
          </li>
          <li class="mb-4 flex">
            <CheckArrowIcon />
            <span>Upload custom images</span>
          </li>
          <li class="mb-4 flex">
            <CheckArrowIcon />
            <span>Easy download option</span>
          </li>
        </ul>
        <a
          class="contained-button w-64 sm:w-52 h-12"
          href="/typinks-poster-generator"
          aria-label="Generage Image for Typinks"
        >
          Generage Image
        </a>
      </div>
    </div>
    <div
      class="w-3/4 mx-auto lg:w-1/2 flex flex-wrap lg:-mx-4 sm:pr-8 lg:pt-10 justify-center lg:pl-4 xl:px-8"
    >
      <div class="mb-8 lg:mb-0 w-full sm:w-1/2 px-2 lg:px-0">
        <div class="mb-4 py-3 pl-3 pr-2 rounded">
          <Image
            src={internationalLeftHandersDay}
            alt="International Left Handers Day"
            class="rounded-xl main-border-gray mx-auto sm:mx-unset"
            aria-label="International Left Handers Day"
          />
        </div>
        <div class="py-3 pl-3 pr-2 rounded">
          <Image
            src={vesuviusDay}
            alt="Vesuvius Day"
            class="rounded-xl main-border-gray mx-auto sm:mx-unset"
            aria-label="Vesuvius Day"
          />
        </div>
      </div>
      <div class="w-1/2 lg:mt-20 pt-12 lg:pt-0 px-2 hidden sm:inline-block">
        <div class="mb-4 py-3 pl-3 pr-2 rounded-lg">
          <Image
            src={worldFolkloreDay}
            alt="World Folklore Day"
            class="rounded-xl main-border-gray"
            aria-label="World Folklore Day"
          />
        </div>
        <div class="py-3 pl-3 pr-2 rounded-lg">
          <Image
            src={worldPhotographyDay}
            alt="World Photography Day"
            class="rounded-xl main-border-gray"
            aria-label="World Photography Day"
          />
        </div>
      </div>
    </div>
  </div>
</section>
